* {
  font-family: sans-serif;
}

code {
  font-family: monospace;
}

html,
body {
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
}

p {
  margin: 2px;
}

hr {
  border: 1px solid lightgray;
}

main {
  width: 100%;
  max-height: 100%;
  display: flex;
  /* background: blue; */
  margin: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div#main_area {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-grow: 1;
}

div#chat_area {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}

div#chat_messages {
  overflow-y: auto;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
}

/* div#chat_messages > div { */
/* background: red; */
/* } */

form#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

form#chat_controls {
  /* background: green; */
  display: flex;
  padding: 5px;
  gap: 5px;
}

textarea#new_message {
  width: 100%;
}

div#nav_area {
  display: flex;
  flex-direction: column;
}

div#future_content {
  flex-grow: 1;
}

div#user_info {
  display: flex;
  flex-direction: column;
  width: 270px;
  align-items: stretch;
}
