<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="index.css" />
  </head>

  <body>
    <main>
      <form id="login" hx-post="/login" hx-target="main">
        <label for="token">Login</label>
        <input autofocus id="token" name="token" type="password" />
        <small id="login_error"></small>
      </form>
      <hr />
      <a
        id="register_link"
        href="#"
        hx-post="/register"
        hx-trigger="click"
        hx-target="#register_link"
        hx-swap="outerHTML"
        >Register</a
      >
    </main>

    <script>
      document.body.addEventListener("htmx:wsOpen", () => {});

      let isScrolledToBottom = true;
      document.body.addEventListener("htmx:wsBeforeMessage", () => {
        const chat = document.getElementById("chat_messages");
        // allow 1px inaccuracy by adding 1
        isScrolledToBottom =
          chat.scrollHeight - chat.clientHeight <= chat.scrollTop + 1;
      });
      document.body.addEventListener("htmx:wsAfterMessage", () => {
        const chat = document.getElementById("chat_messages");
        // scroll to bottom if isScrolledToBottom is true
        if (isScrolledToBottom) {
          chat.scrollTop = chat.scrollHeight - chat.clientHeight;
        }
      });

      function handleNewMessageEnter(e) {
        if (e.which === 13 && !e.shiftKey) {
          if (!e.repeat) {
            e.target.form.dispatchEvent(
              new Event("submit", { cancelable: true }),
            );
          }
          e.preventDefault();
        }
      }
    </script>

    <script src="htmx/htmx.min.js"></script>
    <script src="htmx/ws.js"></script>
  </body>
</html>
