:root {
  --main-color: #2b2b2e;
  --dark-color: #272729;
  --light-color: #343436;
  --text-dim-color: #808082;
  --text-color: #e6e6e8;
  --accent-color: #666699;
  --mention-bg-color: #423040;
  --shadow-color: #161617;
}

@media screen and (max-width: 600px) {
  #nav_area {
    visibility: collapse;
  }
}

* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  color: var(--text-color);
}

body {
  background: var(--main-color);
}

#nav_area {
  background: var(--dark-color);
  min-width: 270px;
  max-width: 270px;
}

input,
textarea,
button {
  font-size: 1em;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
  border: 2px solid var(--accent-color) !important;
}

textarea,
button,
img,
dialog {
  border-radius: 10px;
}

dialog {
  box-shadow: 5px 5px 5px var(--shadow-color);
}

input,
textarea,
dialog {
  background: var(--dark-color);
  border: 2px solid var(--light-color);
}

textarea {
  padding: 5px;
}

button {
  padding: 10px;
}

button,
img {
  background: var(--light-color);
  border: 2px solid var(--dark-color);
}

code {
  font-family: monospace;
}

html,
body,
#main_area {
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
}

main,
#main_area,
#chat_area,
#chat_messages,
#users,
.user,
.user_username_status,
.chat_message,
.chat_message_content {
  min-width: 0;
  width: 100%;
  max-width: 100%;
}

img {
  min-width: 0;
  max-height: 350px;
  max-width: 100%;
}

body,
main,
#login,
#main_area,
#nav_area,
#chat_area,
#users,
.user,
.user_username_status,
#my_user_info,
#my_user_presence_status,
#chat_messages,
.chat_status_message,
.chat_message,
#chat_controls,
#new_banner_dialog_contents {
  display: flex;
}

main,
#login,
#new_banner_dialog_contents {
  flex-direction: column;
  align-items: center;
}

#nav_area,
#chat_area,
#users,
.user_username_status,
#my_user_info,
#chat_messages,
.chat_status_message,
.chat_message {
  flex-direction: column;
}

main,
#main_area,
#chat_area,
#new_message,
#users,
#chat_messages {
  flex-grow: 1;
}

main {
  justify-content: center;
}

#nav_area {
  padding-right: 7px;
}

#chat_area {
  padding: 7px 12px;
}

hr {
  border: 1px solid var(--light-color);
  margin: 17px 0 0 0;
}

#chat_messages,
#users {
  overflow-y: auto;
}

p {
  margin: 0;
}

.user_presence_icon {
  min-width: 0.75em;
  max-width: 0.75em;
  min-height: 0.75em;
  max-height: 0.75em;
  border-radius: 50%;
  margin-top: 0.375em;
}

.user_presence_chatting {
  background: limegreen;
}

.user_presence_inactive {
  background: goldenrod;
}

.user_presence_offline {
  background: lightgray;
}

#chat_controls,
.user,
#my_user_presence_status {
  gap: 5px;
}

.chat_message:last-of-type {
  margin-bottom: 17px;
}

.chat_message_ts > span {
  color: var(--text-dim-color);
  font-size: small;
}

.chat_message_content {
  overflow-wrap: break-word;
}

.user_username_status > b,
#username {
  overflow-x: auto;
  scrollbar-width: none;
}

#username {
  max-width: min-content;
}

#username:hover,
#my_user_info:hover,
button:hover {
  cursor: pointer;
}

.user,
#my_user_info {
  height: 50px;
  max-height: 50px;
  overflow: hidden;
  padding-left: 5px;
  box-sizing: border-box;
}

.user_username_status > * {
  color: white;
}

#username_edit_tip {
  color: var(--text-color);
  font-weight: normal;
  padding-left: 1px;
}
