<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <main>
      <form id="login" hx-post="/login" hx-target="main">
        <label for="token">Login</label>
        <input autofocus id="token" name="token" type="password" />
        <small id="login_error"></small>
      </form>
      <hr />
      <a
        id="register_link"
        href="#"
        hx-post="/register"
        hx-trigger="click"
        hx-target="#register_link"
        hx-swap="outerHTML"
        >Register</a
      >
    </main>

    <script>
      document.body.addEventListener("htmx:wsOpen", (e) => {
        document.getElementById("ws_status").innerHTML = "Connected";
        e.detail.socketWrapper.send(
          JSON.stringify({
            first_load: true,
            session_token: document.getElementById("session_token").value,
          }),
        );
      });
      document.body.addEventListener("htmx:wsClose", () => {
        document.getElementById("ws_status").innerHTML = "No connection!";
      });

      let isScrolledToBottom = true;
      document.body.addEventListener("htmx:wsBeforeMessage", () => {
        const chat = document.getElementById("chat_messages");
        isScrolledToBottom =
          chat.scrollHeight - chat.clientHeight <= chat.scrollTop + 1;
      });
      document.body.addEventListener("htmx:wsAfterMessage", () => {
        const usernames = document.getElementsByClassName(
          "chat_message_username",
        );
        if (usernames.length) {
          const lastUsername =
            usernames[usernames.length - 1].querySelector("b").innerHTML;
          const myUsername = document.getElementById("username_value").value;
          const chat = document.getElementById("chat_messages");
          if (isScrolledToBottom || lastUsername === myUsername) {
            chat.scrollTop = chat.scrollHeight - chat.clientHeight;
          }
        }
      });

      function handleNewMessageEnter(e) {
        if (e.which === 13 && !e.shiftKey) {
          if (!e.repeat) {
            e.target.form.dispatchEvent(
              new Event("submit", { cancelable: true }),
            );
          }
          e.preventDefault();
        }
      }

      function onVisible(element, callback) {
        new IntersectionObserver((entries, observer) => {
          entries.forEach((entry) => {
            if (entry.intersectionRatio > 0) {
              callback(element);
              observer.disconnect();
            }
          });
        }).observe(element);
        if (!callback) return new Promise((r) => (callback = r));
      }

      const tsFormatOtherYear = "D MMM Y [at] h:mm a";
      const tsFormatOther = "D MMM [at] h:mm a";
      function displayTime(ts) {
        const m = moment(ts);
        const isCurrentYear = m.years() === moment().years();
        const format = isCurrentYear ? tsFormatOther : tsFormatOtherYear;
        return m.calendar({
          sameDay: "h:mm a",
          lastDay: "ddd [at] h:mm a",
          lastWeek: format,
          sameElse: format,
        });
      }
    </script>

    <script src="js/htmx.min.js"></script>
    <script src="js/ws.js"></script>
    <script src="js/moment.js"></script>
  </body>
</html>
