* {
  font-family: sans-serif;
  background: #2b2b2e;
  color: white;
}

input {
  font-size: 1em;
}

textarea {
  font-size: 1em;
}

code {
  font-family: monospace;
}

html,
body {
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
}

p {
  margin: 2px 0px;
}

.chat_message_username {
  margin: 5px 0px;
}

.chat_message {
  display: flex;
  flex-direction: column;
}

input:focus {
  outline: none !important;
}

textarea:focus {
  outline: none !important;
}

hr {
  border: 1px solid #404043;
  margin: 15px 0 0 0;
}

main {
  width: 100%;
  max-height: 100%;
  display: flex;
  /* background: blue; */
  margin: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div#main_area {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-grow: 1;
}

div#chat_area {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}

div#chat_messages {
  overflow-y: auto;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
}

/* div#chat_messages > div { */
/* background: red; */
/* } */

form#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

form#chat_controls {
  /* background: green; */
  display: flex;
  padding: 5px;
  gap: 5px;
}

textarea#new_message {
  width: 100%;
}

div#nav_area {
  display: flex;
  flex-direction: column;
}

div#future_content {
  flex-grow: 1;
}

div#my_user_info {
  display: flex;
  flex-direction: column;
  width: 270px;
  align-items: stretch;
  margin-top: 15px;
  margin-bottom: 5px;
  gap: 2px;
}

div#users {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
  overflow-y: auto;
}

.user {
  display: flex;
  gap: 5px;
}

.user_username_status {
  display: flex;
  flex-direction: column;
}

.user_presence_icon {
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin: 1px;
}

.user_presence_online {
  background: limegreen;
}

.user_presence_offline {
  background: darkgray;
}

.user_presence_away {
  background: goldenrod;
}

#my_user_presence_status {
  display: flex;
  gap: 5px;
  align-items: center;
}
